<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>CRUD</title>
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/guardarProducto}" th:object=${producto} method="post">
				<div class="card">
					<div class="card-header">
						<h3>Registrar Producto</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>Código del Producto</label> <input th:field="*{COD_PRO}" type="text">
						</div>
						<div class="form-group">
							<label>Código de la Categoria</label> <input th:field="*{COD_CAT}" type="text">
						</div>
						<div class="form-group">
							<label>Nombre del Producto</label> <input th:field="*{NOM_PRO}" type="text">
						</div>
						<div class="form-group">
							<label>Descripcion del Producto</label> <input th:field="*{DES_PRO}" type="text">
						</div>
						<div class="form-group">
							<label>Precio del Producto</label> <input th:field="*{PRE_PRO}" type="text">
						</div>
					</div>
					<div class="form-group">
							<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>