<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<header class="text-center text-warning bg-primary fs-1">BIENVENIDO A LA PAGINA PRINCIPAL</header>
	<div class="container mt-4">
		<h1 class="text-center">Ver Tablas</h1>
		<a th:href="@{/categorias}" class="btn btn-outline-primary">CATEGORIAS</a>
		<a th:href="@{/productos}" class="btn btn-outline-primary">PRODUCTOS</a>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>