<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<div class="container mt-4">
	<h1 class="text-center">TABLA CATEGORIA</h1>
	<a th:href="@{/nuevaCategoria}" class="btn btn-primary">Nuevo Registro</a>
	<a th:href="@{/}" class="btn btn-info">Volver</a>
	<br><br>
		<table class="table table-warning table-hover table-bordered">
			<thead class="table table-dark table-hover">
				<tr>
					<th>COD_CAT</th>
					<th>NOM_CAT</th>
					<th>EST_CAT</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria:${categorias}">
					<td th:text="${categoria.COD_CAT}"></td>
					<!-- para mostrar datos -->
					<td th:text="${categoria.NOM_CAT}"></td>
					<td th:text="${categoria.EST_CAT}"></td>
					<td><a th:href="@{/editarCategoria/}+${categoria.COD_CAT}" class="btn btn-warning">Editar</a> 
						<a th:href="@{/borrarCategoria/}+${categoria.COD_CAT}" class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
